
.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}


.product-cards--container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 910px;
    margin: 0 auto;
}


.plans-contaner--slider{
    justify-content: center;
    overflow-x:hidden;
}

